body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.remember {
  text-align: center;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: darkgreen;
}